#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Sigaa Entrada
Comment=Abra o Sigaa em qualquer navegador.
Exec=sh -c "xdg-open /home/$USER/.sigaa/index.html" 
Icon=system-config-users.png
Terminal=false
Type=Application

Name[pt_BR]=Sigaa
